@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
<<<<<<< HEAD
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
}

.dark {
  --background: 0 0% 4%;
  --foreground: 0 0% 93%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
=======
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
>>>>>>> jflores/fetching-patterns
  font-family: Arial, Helvetica, sans-serif;
}
